main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.fa-gears {
    font-size: 100px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: xx-large;
}