header {
    grid-area: hd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid slategrey;

}

nav ul li a:hover {
    padding: 5px;
    background-color: hotpink;
}

.nav-links {
    display: flex;
    list-style-type: none;

}

.nav-links li {
    padding-right: 10px;
}


a {
    text-decoration-line: none;
}

/* header a:visited{
    color: red;
} */
/* h2 a{
    color: hotpink;
} */

#header-home {
    padding-left: 10px;
}