header {
    grid-area: hd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid purple;
}


.nav-links {
    display: flex;
    list-style-type: none;

}

.nav-links li {
    padding-right: 10px;
}