/*MAIN PAGE*/
nav {
    text-align: center;
}

nav ul {
    list-style: none;

}

nav ul li {
    display: inline-block;
    margin: 0px 28px 0px 20px;

}

body {
    margin: 0;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
}

header {
    text-align: center;
}

a {
    text-decoration: none;
}

a[href="index.html"] {
    color: white;
}

a:hover {
    text-decoration: underline;
    color: red;
}

p {
    font-weight: bold;
}

span {
    font-weight: bold;
}

/*CONTACT PAGE*/
#contact {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
    background: url(background_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name {
    margin-right: 25px;
}

#msg {
    margin-top: 15px;
}

button {
    margin-top: 5px;
}